<a href="https://colab.research.google.com/github/edwardlach/ibm-ds-course/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Ed Lach

**Objectives:**
* List popular data science languages
* List popular data science libraries
* Demonstrate basic python operations in Jupyter Notebooks

#### Some of the popular languages that Data Scientists use are:
* Python
* R
* Julia
* SQL

### Some of the commonly used librarires used by Data Scientists include:
* Tensorflow
* Numpy
* Pandas
* ggplot2

| Data Science Tools |
| ------------------ |
| Jupyter |
| Anaconda |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335